
<div class="row">
    <div class="col-6"><h2>Transações de Conta</h2></div>
    <div class="col-6">
        <a class="btn btn-primary   float-right mb-3"
           href="/ContaCorrente/index"><i class="fa fa-backward"></i>Ir para tabela</a>
    </div>
</div>
<br />

<div class="container">

    <form action="/ContaCorrente/cadastro" method="post">

        <div class="row">
            <div class="col-6">
                <label class="font-weight-bold" for="campo-cadastrocontacorrente">Conta Corrente<span class="text-danger">*</span></label>
                <select name="IdCadastroContaCorrente" id="campo-cadastrocontacorrente" required="" class="form-control border-info">
                    <option selected="" disabled="disabled">Selecione uma Conta</option>
                    @foreach (Model.CadastroContaCorrente cadastroContaCorrente in ViewBag.CadastroContaCorrentes)
                    {
                        <option value="@cadastroContaCorrente.Id">@cadastroContaCorrente.NumeroConta</option>

                    }
                </select>
            </div>
            <div class="col-6">
                <label class="font-weight-bold" for="campo-historico">Historico<span class="text-danger">*</span></label>
                <select name="IdHistorico" id="campo-historico" required="" class="form-control border-info">
                    <option selected="" disabled="disabled">Seleci'one uma Historico</option>
                    @foreach (Model.Historico historico in ViewBag.Historicos)
                    {
                        <option value="@historico.Id">@historico.Descricao</option>

                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="font-weight-bold" for="campo-categoriaReceita">Categoria Receita<span class="text-danger">*</span></label>
                <select name="IdCategoriaReceita" id="campo-categoriaReceita" required="" class="form-control border-info">
                    <option selected="" disabled="disabled">Selecione uma Categoria Receita</option>
                    @foreach (Model.CategoriaReceita categoriaReceita in ViewBag.CategoriasReceita)
                    {
                        <option value="@categoriaReceita.Id">@categoriaReceita.TipoCategoriaReceita</option>

                    }
                </select>

            </div>
            <div class="col-6">
                <label class="font-weight-bold" for="campo-categoriaDespesa">Categoria Despesa<span class="text-danger">*</span></label>
                <select name="IdCategoriaDespesa" id="campo-categoriaDespesa" required="" class="form-control border-info">
                    <option selected="" disabled="disabled">Selecione uma Categoria Despesa</option>
                    @foreach (Model.CategoriaDespesa categoriaDespesa in ViewBag.CategoriasDespesa)
                    {
                        <option value="@categoriaDespesa.Id">@categoriaDespesa.TipoCategoriaDespesa</option>

                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="contacorrente-campo-descricao">Descricao<span class="text-danger">*</span></label>
                <input type="text" id="contacorrente-campo-descricao" name="descricao" class="form-control" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <lable for="contacorrente-campo-documento">Documento<span class="text-danger">*</span></lable>
                <input type="text" id="contacorrente-campo-documento" name="documento" class="form-control" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <lable for="contacorrente-campo-tipopagamento">Tipo Pagamento<span class="text-danger">*</span></lable>
                <select id="contacorrente-campo-tipopagamento" name="tipopagamento" class="form-control" required>
                    <option disabled="disabled" selected="selected">Selecione uma forma de pagamento</option>
                    <option>Dinheiro</option>
                    <option>Cartão de Débito</option>
                    <option>Cartão de Crédito</option>
                </select>
            </div>

            <div class="col-4">
                <lable for="contacorrente-campo-valor">Valor<span class="text-danger">*</span></lable>
                <input type="text" id="contacorrente-campo-valor" name="valor" class="form-control" required />
            </div>

            <div class="col-4">
                <lable for="contacorrente-campo-status">Status<span class="text-danger">*</span></lable>
                <select class="form-control" type="combobox" name="status" id="campo-status" required>
                    <option disabled="disabled" selected="selected">Selecione um Status</option>
                    <option>Aberto</option>
                    <option>Pendente</option>
                    <option>Pago</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <lable for="contacorrente-campo-datalancamento">Data Lançamento<span class="text-danger">*</span></lable>
                <input type="date" id="contacorrente-campo-datalancamento" name="datalancamento" class="form-control" required />
            </div>

            <div class="col-4">
                <lable for="contacorrente-campo-datavencimento">Data Vencimento<span class="text-danger">*</span></lable>
                <input type="date" id="contacorrente-campo-datavencimento" name="datavencimento" class="form-control" required />
            </div>

            <div class="col-4">
                <lable for="contacorrente-campo-datarecebimento">Data Recebimento<span class="text-danger">*</span></lable>
                <input type="date" id="contacorrente-campo-datarecebimento" name="datarecebimento" class="form-control" required />
            </div>
        </div>
        <br />

        <div class="modal-footer">
            <button class="btn btn-grd-success float-left mt-3" type="submit"><i class="fa fa-save"></i> Salvar</button>
        </div>
    </form>
</div>




<div class="form-group">
    <lable for="contacorrente-campo-datalancamento">Data Lançamento<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-datalancamento" class="form-control" />
>>>>>>> parent of 9527b3e... Merge remote-tracking branch 'origin/Paulo' into JoaoPstein
</div>

<div class="form-group">
    <lable for="contacorrente-campo-datavencimento">Data Vencimento<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-datavencimento" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-datarecebimento">Data Recebimento<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-datarecebimento" class="form-control" />
</div>
    
<div class="form-group">
    <lable for="contacorrente-campo-nomebanco">Nome Banco<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-nomebanco" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-numerobanco">Numero Banco<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-numerobanco" class="form-control" />
</div>
    <div class="modal-footer">
        <button class="btn btn-grd-success float-left mt-3" type="submit"><i class="fa fa-save"></i> Salvar</button>
    </div>





