        <form method="post" action="/ParcelasPagar/editar">
    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <a href="/ContaCorrente/index" class="btn btn-primary">Voltar a lista de Parcelas</a>
            </div>
        </div>
    </div>
    <input type="hidden" name="id" value="@ViewBag.ContaCorrentes.Id" />

    <br />
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-contacorrente">Conta Corrente</label>
                <input type="text" name="contacorrente" class="form-control" id="campo-contacorrente" value="@ViewBag.ContaCorrentes.IdCadastroContaCorrente" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-historico">Historico</label>
                <input type="text" name="historico" class="form-control" id="campo-historico" value="@ViewBag.ContaCorrentes.IdHistorico" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-tipocategoriareceita">Tipo Categoria Receita</label>
                <input type="text" name="tipocategoriareceita" class="form-control" id="campo-tipocategoriareceita" value="@ViewBag.ContaCorrentes.IdCategoriaReceita" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-tipocategoriadespesa">Tipo Categoria Despesa</label>
                <input type="text" name="tipocategoriadespesa" class="form-control" id="campo-tipocategoriadespesa" value="@ViewBag.ContaCorrentes.IdCategoriaDespesa" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-descricao">Descição</label>
                <input type="text" name="descricao" class="form-control" id="campo-descricao" value="@ViewBag.ContaCorrentes.Descricao" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">

                <label for="campo-documento">Documento</label>
                <input type="text" name="documento" class="form-control" id="campo-documento" value="@ViewBag.ContaCorrentes.Documento" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-tipopagamento">Tipo Pagamento</label>
                <input type="text" name="tipopagamento" class="form-control" id="campo-tipopagamento" value="@ViewBag.ContaCorrentes.TipoPagamento" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-valor">Valor</label>
                <input type="text" name="valor" class="form-control" id="campo-valor" value="@ViewBag.ContaCorrentes.Valor" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-status">Status</label>
                <input type="text" name="status" class="form-control" id="campo-status" value="@ViewBag.ContaCorrentes.Status" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-datalancamento">Data Lancamento</label>
                <input type="text" name="datalancamento" class="form-control" id="campo-datalancamento" value="@ViewBag.ContaCorrentes.DataLancamento" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-datavencimento">Data Vencimento</label>
                <input type="text" name="datavencimento" class="form-control" id="campo-datavencimento" value="@ViewBag.ContaCorrentes.DataVencimento" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-datarecebimento">Data Recebimento</label>
                <input type="text" name="datarecebimento" class="form-control" id="campo-datarecebimento" value="@ViewBag.ContaCorrentes.DataRecebimento" />
            </div>
        </div>
    </div>
    <button href="/ContaCorrente/index" class="btn btn-success float-right" type="submit">Salvar</button>
</form>
<br />

