<form method="post" action="/tituloreceber/editar">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-info float-right mb-3"
               href="/TituloReceber/index">Ir para tabela</a>
        </div>
        <input type="hidden" name="id"
               id="id"
               value="@ViewBag.TituloReceber.Id" />
    </div>

    <div class="container container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-check-inline ml-3 mr-3 mb-3">
                    <input type="radio" id="tituloReceber-campo-tipo-pessoa-fisica"
                           name="tituloReceber-campo-tipo-pessoa" class="form-check-input" />
                    <label for="tituloReceber-campo-tipo-pessoa-fisica"
                           class="form-check-label" style="
    padding-left: 4px;
    padding-bottom: 3px;
">Pessoa Física</label>

                </div>
                <div class="form-check-inline">
                    <input type="radio" id="tituloReceber-campo-tipo-pessoa-juridica"
                           name="tituloReceber-campo-tipo-pessoa" class="form-check-input" />
                    <label for="tituloReceber-campo-tipo-pessoa-juridica"
                           class="form-check-label" style="
    padding-left: 4px;
    padding-bottom: 4px;
">Pessoa Jurídica</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="tituloReceber-pessoa-fisica">
                <div class="form-group">
                    <label for="tituloReceber-campo-pessoa-fisica">Pessoa Física</label>
                    <select class="form-control" id="tituloReceber-campo-pessoa-fisica" name="idClientePessoaFisica">
                        <option disabled selected>Selecione um opção</option>
                    </select>
                </div>
            </div>

            <div class="col-12" id="tituloReceber-pessoa-juridica">
                <div class="form-group">
                    <label for="campo-tituloreceber-pessoaJuridica">Pessoa Juridica</label>
                    <select class="form-control" id="tituloReceber-campo-pessoa-Juridica"  name="IdClientePessoaJuridica">
                        <option disabled selected>Selecione um opção</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-tituloReceber-categoria" mas>Categoria Receita</label>
                    <select class="form-control" id="tituloReceber-campo-categoria-Receita" name="idCategoriaReceita"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="titulo-receber-campo-status">Status</label>
                    <select class="form-control" id="tituloReceber-campo-status" name="Status">
                        @if (ViewBag.TituloReceber.Status == "Pendente")
                        {
                            <option value="Pendente" selected="selected">Pendente</option>
                        }
                        else
                        {
                            <option value="Pendente">Pendente</option>
                        }
                        @if (ViewBag.TituloReceber.Status == "Pago")
                        {
                            <option value="Pago" selected="selected">Pago</option>
                        }
                        else
                        {
                            <option value="Pago">Pago</option>
                        }
                        @if (ViewBag.TituloReceber.Status == "Cancelado")
                        {
                            <option value="Cancelado" selected="selected">Cancelado</option>
                        }
                        else
                        {
                            <option value="Cancelado">Cancelado</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="campo-tituloReceber-data-lancamento" mas>Data de Lançamento</label>
                    <input type="date" id="tituloReceber-campo-data-lancamento" class="form-control"
                           value="@ViewBag.TituloReceber.DataLancamento.ToString("yyyy-MM-dd")" name="DataLancamento"/>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="campo-tituloReceber-data-recebimento" mas>Data de Recebimento</label>
                        <input type="date" id="tituloReceber-campo-data-recebimento" class="form-control"
                               value="@ViewBag.TituloReceber.DataRecebimento.ToString("yyyy-MM-dd")" name="DataRecebimento" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label form="campo-titulo-receber-campo-data-vencimento" mas>Data vencimento</label>
                        <input type="date" id="tituloReceber-campo-data-vencimento" class="form-control"
                               value="@ViewBag.TituloReceber.DataVencimento.ToString("yyyy-MM-dd")"name="DataVencimento" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="campo-tituloReceber-descricao" mas>Descrição</label>
            <textarea class="form-control" id="tituloReceber-campo-descricao" name="Descricao">@ViewBag.TituloReceber.Descricao</textarea>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="campo-titulo-campo-quantidadeParcelas" mas>Quantidade de Parcelas</label>
                    <input type="text" id="tituloReceber-campo-quantidade-Parcelas" class="form-control"
                           value="@ViewBag.TituloReceber.QuantidadeParcela"name="QuantidadeParcela" />
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="campo-tituloReceber-valor-total" style="display: block">Valor Total</label>
                    <span type="text" id="tituloReceber-campo-valor-total">R$ @ViewBag.TituloReceber.ValorTotal </span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-grd-success float-left mt-3" type="submit" id="tituloReceber-botao-salvar"><i class="fa fa-save"></i> Salvar</button>
        </div>
    </div>
</form>
@section js{
    <script src="~/Scripts/TituloReceber/titulo-receber-cadastro.js"></script>
    <script src="~/Scripts/TituloReceber/titulo-receber-editar.js"></script>
}
