<div class="container">
    <form action="/tituloPagar/editar" method="post">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-info float-right mb-3"
                   href="/TituloPagar/index">Ir para tabela</a>
            </div>
            <input type="hidden" name="id" value="@ViewBag.TituloPagar.Id" />
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="tituloPagar-campo-fornecedor">Fornecedores</label>
                    <select class="form-control" id="tituloPagar-campo-fornecedor" name="IdFornecedor"></select>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="tituloPagar-campo-categoria-despesa">Categoria despesas<span class="text-danger">*</span></label>
                    <select class="form-control" id="tituloPagar-campo-categoria-despesa" name="IdCategoriaDespesa"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="tituloPagar-campo-forma-pagamento">Forma de Pagamento</label>
                    <select class="form-control" id="tituloPagar-campo-forma-pagamento" name="FormaPagamento">
                        @if (ViewBag.TituloPagar.FormaPagamento == "Dinheiro")
                        {
                            <option value="Dinheiro" selected="selected">Dinheiro</option>

                        }
                        else
                        {
                            <option value="Dinheiro">Dinheiro</option>
                        }
                        @if (ViewBag.TituloPagar.FormaPagamento == "Cartao Debito")
                        {
                            <option value="CartaoDebito" selected="selected">Cartão Debito</option>
                        }
                        else
                        {
                            <option value="CartaoDebito">Cartão Débito</option>
                        }
                        @if (ViewBag.TituloPagar.FormaPagamento == "Cartao Credito")
                        {
                            <option value="CartaoCredito" selected="selected"></option>
                        }
                        else
                        {
                            <option value="CartaoCredito">Cartão de Crédito</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="tituloPagar-campo-status">Status</label>
                    <select class="form-control" id="tituloPagar-campo-status" name="Status">
                        @if (ViewBag.TituloPagar.Status == "Pendente")
                        {
                            <option value="Pendente" selected="selected">Pendente</option>
                        }
                        else
                        {
                            <option value="Pendente">Pendente</option>
                        }
                        @if (ViewBag.TituloPagar.Status == "Pago")
                        {
                            <option value="Pago" selected="selected">Pago</option>
                        }
                        else
                        {
                            <option value="Pago">Pago</option>
                        }
                        @if (ViewBag.TituloPagar.Status == "Pago Parcialmente")
                        {
                            <option value="PagoParcialmente" selected="selected">Pago parcialmente</option>
                        }
                        else
                        {
                            <option value="PagoParcialmente">Pago Parcialmente</option>
                        }
                        @if (ViewBag.TituloPagar.Status == "Cancelado")
                        {
                            <option value="Cancelado" selected="selected">Cancelado</option>
                        }
                        else
                        {
                            <option value="Cancelado">Cancelado</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 ml-4">
                <div class="form-check">
                    <input type="checkbox" id="tituloPagar-campo-caixa" class="form-check-input" />
                    <label for="tituloPagar-campo-caixa" class="form-check-label">Caixa</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" id="tituloPagar-campo-banco" class="form-check-input" />
                    <label for="tituloPagar-campo-banco" class="form-check-label">Banco</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="tituloPagar-campo-data-lancamento">Data de Lançamento</label>
                    <input type="date" id="tituloPagar-campo-data-lancamento" class="form-control"
                           name="DataLancamento" value="@ViewBag.TituloPagar.DataLancamento.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="tituloPagar-campo-data-recebimento">Data de Recebimento</label>
                    <input type="date" id="tituloPagar-campo-data-recebimento" class="form-control"
                           name="DataRecebimento" value="@ViewBag.TituloPagar.DataRecebimento.ToString("yyyy-MM-dd")" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label form="tituloPagar-campo-data-vencimento">Data Vencimento</label>
                    <input type="date" id="tituloPagar-campo-data-vencimento" class="form-control"
                           name="DataVencimento" value="@ViewBag.TituloPagar.DataVencimento.ToString("yyyy-MM-dd")" />
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="tituloPagar-campo-quantidade-parcela">Quantidade de Parcelas</label>
                    <input type="number" id="tituloPagar-campo-quantidade-parcela" class="form-control" name="QuantidadeParcela" value="@ViewBag.TituloPagar.QuantidadeParcela" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="tituloPagar-campo-descricao">Descrição</label>
                        <textarea id="tituloPagar-campo-descricao" class="form-control" name="Descricao">@ViewBag.TituloPagar.Descricao</textarea>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <label for="tituloPagar-campo-valor-total" style="display: block">Valor Total</label>
                <span type="text" id="tituloPagar-campo-valor-total">R$ @ViewBag.TituloPagar.ValorTotal</span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-grd-success float-left mt-3" type="submit" id="tituloPagar-botao-salvar">
            <i class="fa fa-save"></i> Salvar</button>
        </div>
    </form>
</div>

@section js{
    <script src="~/Scripts/TituloPagar/titulo-pagar-cadastro.js"></script>
    <script src="~/Scripts/TituloPagar/titulo-pagar-editar.js"></script>
}

