
<link rel="stylesheet" href="~/Content/css/Transacao/TelaEditarTransacao.css" />

<div class="col-12"><h2><b>Editando Transação</b></h2></div>
<hr />
<a id="botao-editarTransacao" class="btn float-right mb-3" href="/Transacao/Index">
    <i class="fa fa-backward"></i>Voltar para tabela
</a>
<br />
<br />
<form method="post" action="/Transacao/editar">
    <input type="hidden" name="id" value="@ViewBag.Transacoes.Id" />

    <br />
    <div class="row">
        <div class="col-6">
            <div class="form-group" id="fonte">
                <label  for="campo-contacorrente">Conta Corrente<span class="text-danger">*</span></label>
                <input type="text" name="contacorrente" class="form-control" id="campo" value="@ViewBag.Transacoes.CadastroContaCorrente.NumeroConta" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group" id="fonte">
                <label for="campo-historico">Historico<span class="text-danger">*</span></label>
                <input type="text" name="historico" class="form-control" id="campo" value="@ViewBag.Transacoes.Historico.Descricao" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group" id="fonte">
                <label for="campo-tipocategoriareceita">Tipo Categoria Receita<span class="text-danger">*</span></label>
                <input type="text" name="tipocategoriareceita" class="form-control" id="campo" value="@ViewBag.Transacoes.CategoriaReceita.TipoCategoriaReceita" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group" id="fonte">
                <label for="campo-tipocategoriadespesa">Tipo Categoria Despesa<span class="text-danger">*</span></label>
                <input type="text" name="tipocategoriadespesa" class="form-control" id="campo" value="@ViewBag.Transacoes.CategoriaDespesa.TipoCategoriaDespesa" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group" id="fonte">
                <label for="campo-descricaotransacao">Descição</label>
                <input type="text" name="descricaotransacao" class="form-control" id="campo" value="@ViewBag.Transacoes.DescricaoTransacao" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group" id="fonte">

                <label for="campo-documento">Documento</label>
                <input type="text" name="documento" class="form-control" id="campo" value="@ViewBag.Transacoes.Documento" />
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-4">
        <div class="form-group" id="fonte">
            <label for="campo-tipopagamento">Tipo Pagamento</label>
            <input type="text" name="tipopagamento" class="form-control" id="campo" value="@ViewBag.Transacoes.TipoPagamento" />
        </div>
    </div>
        <div class="col-4">
            <div class="form-group" id="fonte">
                <label for="campo-valor">Valor</label>
                <input type="text" name="valor" class="form-control" id="campo" value="@ViewBag.Transacoes.Valor" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group" id="fonte">
                <label for="campo-status">Status</label>
                <input type="text" name="status" class="form-control" id="campo" value="@ViewBag.Transacoes.Status" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group" id="fonte">
                <label for="campo-datalancamento">Data Lancamento</label>
                <input type="text" name="datalancamento" class="form-control" id="campo" value="@ViewBag.Transacoes.DataLancamento" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group" id="fonte">
                <label for="campo-datavencimento">Data Vencimento</label>
                <input type="text" name="datavencimento" class="form-control" id="campo" value="@ViewBag.Transacoes.DataVencimento" />
            </div>
        </div>

        <div class="col-4">
            <div class="form-group" id="fonte">
                <label for="campo-datarecebimento">Data Recebimento</label>
                <input type="text" name="datarecebimento" class="form-control" id="campo" value="@ViewBag.Transacoes.DataRecebimento" />
            </div>
        </div>
    </div>
    <button  id="botao-salvar" href="/Transacao/index" class="btn btn-success float-right" type="submit"><i class="fa fa-save"></i>Salvar</button>
</form>
<br />


