<script src="~/Scripts/Transacao/Transacao.js"></script>
<link rel="stylesheet" href="~/Content/css/Transacao/TelaEditarTransacao.css" />
<div class="col-12"><h2><b>Editando Transação "@ViewBag.Transacoes.Id"</b></h2></div>
<hr />
<a id="botao-editarTransacao" class="btn float-right mb-3" href="/Transacao/Index">
    <i class="fa fa-backward"></i>Voltar para tabela
</a>
<br />
<br />
<form method="post" action="/Transacao/editar">
    <input type="hidden" name="id" value="@ViewBag.Transacoes.Id" />

    <br />
    <div class="row">
        <div class="col-6">
            <div class="form-group" id="fonte">             
                <label class="font-weight-bold" form="campo">Conta Corrente<a class="text-danger">*</a></label>
                <select id="campo" class="form-control text-dark" name="idCadastrosContaCorrente">
                    @foreach (Model.CadastroContaCorrente cadastroContaCorrente in ViewBag.CadastrosContaCorrente)
                    {
                        if (cadastroContaCorrente.Id == ViewBag.IdCadastrosContaCorrentes)
                        {
                            <option value="@cadastroContaCorrente.Id" selected="selected">@cadastroContaCorrente.NumeroConta</option>
                        }
                        else
                        {
                            <option value="@cadastroContaCorrente.Id">@cadastroContaCorrente.NumeroConta</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group" id="fonte">
                <label for="campo-historico">Historico<span class="text-danger">*</span></label>
                <select id="campo" class="form-control text-dark" name="idHistorico">

                    @foreach (Model.Historico historico in ViewBag.Historicos)
                    {
                        if (historico.Id == ViewBag.IdHistorico)
                        {
                            <option value="@historico.Id" selected="selected">@historico.Descricao</option>
                        }
                        else
                        {
                            <option value="@historico.Id">@historico.Descricao</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group" id="fonte">
                <label for="campo-tipocategoriareceita">Tipo Categoria Receita<span class="text-danger">*</span></label>
                <select id="campo" class="form-control text-dark" name="idCategoriaReceita">
                    @foreach (Model.CategoriaReceita categoriaReceita in ViewBag.CategoriasReceita)
                    {
                        if (categoriaReceita.Id == ViewBag.IdCategoriaReceita)
                        {
                            <option value="@categoriaReceita.Id" selected="selected">@categoriaReceita.TipoCategoriaReceita</option>
                        }
                        else
                        {
                            <option value="@categoriaReceita.Id">@categoriaReceita.TipoCategoriaReceita</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group" id="fonte">
                <label for="campo-tipocategoriadespesa">Tipo Categoria Despesa<span class="text-danger">*</span></label>
                <select id="campo" class="form-control text-dark" name="idCategoriaDespesa">
                    @foreach (Model.CategoriaDespesa categoriaDespesa in ViewBag.CategoriasDespesa)
                    {
                        if (categoriaDespesa.Id == ViewBag.idCategoriaDespesa)
                        {
                            <option value="@categoriaDespesa.Id" selected="selected">@categoriaDespesa.TipoCategoriaDespesa</option>
                        }
                        else
                        {
                            <option value="@categoriaDespesa.Id">@categoriaDespesa.TipoCategoriaDespesa</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group" id="fonte">

                <label for="campo-documento">Documento</label>
                <input type="text" name="documento" class="form-control" id="campo" value="@ViewBag.Transacoes.Documento" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group" id="fonte">
                <label for="campo-forma-pagamento" mas>Forma de Pagamento<span class="text-danger">*</span></label>
                <select class="form-control" id="campo" name="tipopagamento">
                    @if (ViewBag.Transacoes.TipoPagamento == "Dinheiro")
                    {
                        <option value="Dinheiro" selected="selected">Dinheiro</option>

                    }
                    else
                    {
                        <option value="Dinheiro">Dinheiro</option>
                    }
                    @if (ViewBag.Transacoes.TipoPagamento == "Cartao Debito")
                    {
                        <option value="CartaoDebito" selected="selected">Cartão Debito</option>
                    }
                    else
                    {
                        <option value="CartaoDebito">Cartão Débito</option>
                    }
                    @if (ViewBag.Transacoes.TipoPagamento == "Cartao Credito")
                    {
                        <option value="CartaoCredito" selected="selected"></option>
                    }
                    else
                    {
                        <option value="CartaoCredito">Cartão de Crédito</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group" id="fonte">
                <label for="campo-valor">Valor</label>
                <input type="text" name="valor" class="form-control" id="campo" value="@ViewBag.Transacoes.Valor" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group" id="fonte">
                <label for="campo-datalancamento">Data Lancamento</label>
                <input type="date" 
                       name="datalancamento" class="form-control" id="campo" 
                       value="@ViewBag.Transacoes.DataLancamento.ToString("yyyy-MM-dd")" />
            </div>
        </div>

        <div class="col-6">
            <div class="form-group" id="fonte">
                <label for="campo-datarecebimento">Data Recebimento</label>
                <input type="date" 
                       name="datarecebimento" class="form-control" id="campo" 
                       value="@ViewBag.Transacoes.DataRecebimento.ToString("yyyy-MM-dd")" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group" id="fonte">
                <label for="campo-descricaotransacao">Descição</label>
                <textarea type="text" name="descricaotransacao" class="form-control" 
                          id="campo">@ViewBag.Transacoes.DescricaoTransacao</textarea>
            </div>
        </div>
    </div>
    <button id="botao-salvar" href="/Transacao/index" class="btn float-right" type="submit"><i class="fa fa-save"></i>Salvar</button>
</form>
<br />


