
<div class="container container-fluid">
    <h3>Editando Parcela</h3>


    <form method="post" action="/ParcelasPagar/editar">
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    <a href="/ParcelasPagar/index" class="btn btn-primary">Voltar a lista de Parcelas</a>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" value="@ViewBag.ParcelaPagar.Id" />

        <br />
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-valor">Valor</label>
                    <input type="text" name="valor" class="form-control" id="campo-valor" value="@ViewBag.ParcelaPagar.Valor" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">

                    <label for="campo-status">Status</label>
                    <input type="text" name="status" class="form-control" id="campo-status" value="@ViewBag.ParcelaPagar.Status" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-dataVencimento">Data de Vencimento</label>
                    <input type="text" name="dataVencimento" class="form-control" id="campo-dataVencimento" value="@ViewBag.ParcelaPagar.DataVencimento" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-dataPagamento">Data de Pagamento</label>
                    <input type="text" name="dataPagamento" class="form-control" id="campo-dataPagamento" value="@ViewBag.ParcelaPagar.DataPagamento" />
                </div>
            </div>
        </div>

        <button href="/ParcelasPagar/index" class="btn btn-success float-right" type="submit">Salvar</button>
    </form>

</div>
