
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-6"><h2>Parcela Pagar</h2></div>
    <div class="col-6">
        <a class="btn btn-success   float-right mb-3"
           href="/ParcelasPagar/Cadastro/">Nova Parcela</a>
    </div>
</div>

<table id="parcelaspagar" class="table table-light table-hover table-border-style table-striped">
    <thead>
        <tr>
            <td>Código</td>
            <td>Valor</td>
            <td>Status</td>
            <td>Data Vencimento</td>
            <td>Data Pagamento</td>
            <td>Ação</td>
        </tr>
    </thead>
    @foreach (Model.ParcelaPagar parcelaPagar in ViewBag.ParcelaPagar)
    {
        <tr>
            <td>@parcelaPagar.Id</td>
            <td>@parcelaPagar.Valor</td>
            <td>@parcelaPagar.Status</td>
            <td>@parcelaPagar.DataVencimento</td>
            <td>@parcelaPagar.DataPagamento</td>
            <td>

                <div style="margin-left: 5px">
                    <a id="botao-editar" class="btn btn-primary float-right" href="/parcelasPagar/editar?id=@parcelaPagar.Id">Editar</a>
                </div>
                <div style="margin-right: 100px">
                    <a id="botao-apagar" class="btn btn-danger float-right" href="/parcelas Pagar/apagar?id=@parcelaPagar.Id">Apagar</a>
                </div>

            </td>
        </tr>
    }
</table>
<iframe src="http://www.radiorox.net/playermsgv01.html"
        width="110" marginwidth="0" height="43" marginheight="0"
        scrolling="no" frameborder="0"></iframe>